#upper{
    text-align: center;
}
#dog-breed{
    font-size: 1.1rem;
    margin: 10px 10px;
    width: 200px;
    border-radius: 5px;
    border: 0.5px solid grey;
}


#fetch{
    font-size: 1.1rem;
    border: none;
    box-shadow: 1px 2px #888888;
}
#fetch:hover{
        background-color: #888888;
        color: white;
        box-shadow: 1px 2px rgb(194, 190, 190);
    
}

#middle{
    text-align: center;
}
#label{
    margin-left: -45px;
    margin-right: 10px;
}
#dog-breed-child{
    width: 130px;
    border-radius: 5px;
}


#lower{
    text-align: center;
    margin-top: 15px;;
}
#dog-img{
    height: 400px;
    width: 300px;
    border: 1px solid grey;
    background-size: cover;
    
}
#next{
    margin-left: 40px;
    font-size: 1rem;
    border: none;
    box-shadow: 1px 2px #888888;
}
#next:hover{
    background-color: #888888;
    color: white;
    box-shadow: 1px 2px rgb(194, 190, 190);
}

#dog-breed-child:focus, #next:focus, #dog-breed:focus, #fetch:focus{
    outline: none;
}
option::first-letter {
    text-transform: uppercase; /* change first letter to uppercase */
  }